@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.newGroup{
    margin: 2rem 4rem;
    padding: 0 2rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    background-color: white;
 
    h1 {
        padding-top: 2rem;
        font-size: 42px;
        color:$color-medium-transparent;
        text-align: start;
        font-weight: 900;
    }
    &__col-1 {
        width: 60%;
        
    }
    label {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5rem;
    }
    &__input {
        // display: flex;
        // flex-direction: column;
        input {
            height: 3rem;
            border-radius: 10px;
            width: 100%;
            border: 1px solid grey;
        }
    }
    &__check {
        display: flex;
        gap: 20px;
        width: 100%;
    }
}