@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.singleGroup{
    margin: 0 4rem;
    padding: 0 2rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    background-color: white;
 
    &__title {
        padding-top: 2rem;
        font-size: 42px;
        color:$color-medium-transparent;
        text-align: start;
        font-weight: 900;
        margin-bottom: 1rem;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        &--days{
            display: flex;  
            gap:10px;
        }
        &--left {
            // align-items: start;
        }
        &--icons {
            // display: flex;
            // margin-top: 1rem;
        }
        &--right {
            display: flex;
            margin-top: 1.5rem;
            gap:10px;
        }
    }
    &__columns {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }
    
    &__allImage {
        display: flex;
        &--col-1 {
           
            height: 370px;
            width: 70%;
            background-color: #0a0a23;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
        &--col-2 {
            height: 370px;
            width: 25%;
            background-color: #0a0a23;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            flex-direction: column;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
    &__img {
        width: auto;
        height: 100%;
    //overflow: hidden;
    }
    &__descript {
        margin-top: 4rem;
    }
    &__col-1 {
        width: 75%;
    }
    &__col-2 {
        width: 25%;
        height: 370px;
        overflow-y: auto;
    }
}

.sec--2 {
    height: 75%;
    align-items: start;
    justify-content: flex-start;
}

