@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.singleGroup {
  margin: 0 4rem;
  padding: 0 2rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: white;

  &__title {
    padding-top: 2rem;
    font-size: 42px;
    color: $color-medium-transparent;
    text-align: start;
    font-weight: 900;
    margin-bottom: 1rem;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    &--days {
      display: flex;
      gap: 10px;
    }

    &--icons {
      display: flex;
      margin-top: 1rem;
    }
    &--right {
      display: flex;
      // margin-top: 1.5rem;
      gap: 10px;
    }
  }
  &__columns {
    display: flex;
    justify-content: space-between;
    // margin-top: 1rem;
  }

  &__allImage {
    width: auto;
    max-height: 100vh;
  }
  &__img {
    // width: auto;
    max-height: 100vh;
    max-width: 90%;
    border-radius: 20px;
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    margin-top: 10px;
  }
  &__descript {
    margin-top: 1.5rem;
  }
  &__col-1 {
    width: 75%;
  }
  &__col-2 {
    width: 25%;
    height: 370px;
    overflow-y: auto;
    margin-top: 10px;
  }
  // &__btns{
  //     display: flex;
  // }
}

.sec--2 {
  height: 75%;
  align-items: start;
  justify-content: flex-start;
}
.popoverStyle {
  z-index: 99999 !important;
  background-color: rgb(197, 80, 201);
  padding:20px;
}

.fc-daygrid-event {
  overflow: hidden;
}
