@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;


.dateInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    @include desktop {
        width: 90%;
    }
    &__label {
        margin-bottom: .5rem;
        font-weight: 600;
    }
    &__input {
        border-radius: 20px;
        height: 38px;
        border: 1px solid $color-light;
        padding-left:1rem;
        padding-right:1rem;
        width: 100%;
    }
}

.react-datepicker-wrapper {
    width: 100% !important;
}