@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.btn {
    border-radius: 10px;
    min-height: 35px;
    max-height: 115px;
    //border: .5px solid $color-light;
    border:none;
    padding:.25rem 1rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    cursor: pointer;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover {
        background-color:aqua;
    }
    @include desktop {
        margin-bottom: 0;
    }
    &__imgDiv{
        display: flex;
        flex-direction: column;
    }
    &__showHover{
        display: none;  
        top:0;
        right:50;
        
    }
}
.parent {
    position: relative;
}
.parent:hover .btn__showHover{
    display: block;
    position: absolute;
    top: 75%;
    left: 100%;
    background-color: $color-dark;
    padding: .25rem;
    font-size: .75rem;
    max-width: max-content;
    width: 100px;
    border-radius: 5px;
}