@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.btnList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .btn {
        border-radius: 10px;
        height: max-content;
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
        text-decoration: none;
        font-size: 14px;
        margin-right:1rem;
        background-color: #6c3ed64f;
        padding: 1rem;
        //   fontSize={"14px"}
        //   bgColor={"#6c3ed64f"};
        &__imgDiv{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }
        &:hover{
            transform: translateY(2px);
            cursor: pointer;
        }
    }
}
