@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
// fonts
$font-primary: 'Titillium Web', 'sans serif';
// primary colors
$color-dark: #6C3ED6;
$color-medium:#9574E1;
$color-light: #FFFFFF;
// secondar colors
$color-light-sec: #D9D9D9;
$color-title: #6C3ED6;
$color-text: #939396;
// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;
$desktop-xlwidth: 1600px;
//font sizes
$font-base-sm: 0.875rem; //14px
$font-base-md: 1rem;    //16px
$font-base-lg: 1.125rem; //18px
$font-base-lg: 1.25rem; //20px
$font-title-lg: 1.5rem; //24px
$font-title-xxl: 1.75rem; //28px