@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.linkBtn {
    border-radius: 10px;
    height: max-content;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    text-decoration: none;
    font-size: 1rem;
    margin-right:1rem;
    &__imgDiv{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    &:hover{
        transform: translateY(2px);
        cursor: pointer;
    }
}