.leaderboard{
    // width: 100%;
    // height: 100%;

    &__bubble-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        //align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        gap: 80px;
    }
    .company-bubble{
        width: 100%;
        height: 100%;
        max-width: 600px;
        max-height: 600px;
        min-height: 200px;
        min-width: 200px;
        aspect-ratio: 1/1;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        background-color: #fff;



        &__name{
            height: 100%;
            width: 100%;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.5);
            // border-radius: 50%;
            transition: all 0.3s ease;
            opacity: 0;
            padding: 100px;
            &:hover{
                opacity: 1;
            }
        }
        &__stats-wrapper{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            height: 100%;
            justify-items: center;
            align-items: flex-end;
            position: relative;
            bottom: 30%;
            padding: 10%;

            .stats-item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                font-size: 1.2rem;
                font-weight: 500;
                color: #939396;
            }
            .stats-item:nth-child(2){
                top: 15%;
            }
        }
    }
}