.explore {
   
    &__title {
        position: absolute;
        left: 25%;
        top:-10%;
    }
    &__posts {
       
        display: flex;
        justify-content: center;
        margin: 10rem auto 2rem;
        flex-direction: column;
        align-items: center;
    }
}