.explore {
    margin: 0 32px;
    &__title {
        text-align: left;
        margin: 0;
    }
    &__posts {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
        justify-content: center;
        gap: 1rem;
        width: 100%;
        margin: 0 auto;
    }
}