@use './styles/variables' as *;
@use './styles/mixins' as *;

#root {
  width:100vw;
  height: 100vh; 
  font-family: $font-primary;
  background-image: url("/background.png"); // here you had it wrong
  background-size: cover;
  background-repeat: no-repeat;
}
.page-font {
  font-family: $font-primary;
  font-size: 120px;
  color: $color-light-accent-sec;
  font-weight: 900;
  text-align: left;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DFDFDF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}