@use './styles/variables' as *;
@use './styles/mixins' as *;

#root {
  width:100vw;
  height: 100vh; 
  font-family: $font-primary;
  background-image: url("/background.png"); // here you had it wrong
  background-size: cover;
  background-repeat: no-repeat;
}
.page-font {
  font-family: $font-primary;
  font-size: 120px;
  color: $color-light-accent-sec;
  font-weight: 900;
  text-align: left;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DFDFDF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:80vh;
}


.tree {
  fill: $color-medium;
}

.circle-mask {
  transform-origin: 50% 90%;
  animation: scale 1s infinite ease-out;
}

@keyframes scale {
  0%, 100% {
    transform: scale(0.0);
  }
  7%, 90% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(1);
  }
}
